# Frontend
streamlit

# Backend & API
fastapi
uvicorn
pydantic
requests
python-multipart
Pillow
pdfplumber

# CosData Cloud SDK (official) - vector DB
cosdata-sdk @ git+https://github.com/cosdata/cosdata-sdk-python.git

# Added missing dependencies for embedding and audio processing
transformers
torch
sentence-transformers

torchaudio

# Env loader
python-dotenv
