
# Frontend
streamlit

# Backend & API
fastapi
uvicorn
pydantic
requests
python-multipart
Pillow
pdfplumber

# CosData Cloud SDK (official)
cosdata-sdk @ git+https://github.com/cosdata/cosdata-sdk-python.git
